*.layout
*.cbp
*.depend
*.kdev4
.kdev*
build/


CMakeCache.txt
CMakeFiles/
Makefile
bin/
data/
tmp/
temp/
cmake_install.cmake
logs/
log/
*.zip
*.o
*.log
pkg/
__pycache__/
*.vcxproj
*.vcxproj.filters
*.sln
build/

# General
.DS_Store
.AppleDouble
.LSOverride
